{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "rules": {
    "vue/html-self-closing": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "process": true
  }
}
